<ng-template [ngIf]="video.id.length === 0" [ngIfElse]="elseBlock">
    <mat-card style="height:100%">
        <mat-card-title>Empty URL</mat-card-title>
    </mat-card>
</ng-template>

<ng-template #elseBlock>
    <mat-card style="height:100%">
        <mat-card-content>
            <youtube-player [videoId]="video.id" [width]="videoWidth" [height]="videoHeight"></youtube-player>
        </mat-card-content>
        <mat-card-actions>
            <ng-template [ngIf]="!bookmarked">
                <button mat-raised-button color="accent" aria-label="Bookmark video" (click)="bookmarkVideo()">
                    <span>Bookmark</span>
                    <mat-icon>bookmark_border</mat-icon>
                </button>
            </ng-template>
        </mat-card-actions>
    </mat-card>
</ng-template>