<form class="basic-form">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Youtube link</mat-label>
        <input matInput type="text" #val (keyup.enter)="onComplete(val.value)">
        <mat-hint>e.g.: https://www.youtube.com/watch?v=p3-uKgiyE3Y</mat-hint>
    </mat-form-field>
</form>