<mat-toolbar color="primary">{{title}}</mat-toolbar>
<br>
<div class="container-fluid">
    <div class="row row-cols-3 gy-5">
        <searchBar class="right-component" (searchedValue)="onSearchVideo($event)"></searchBar>
        <videoView class="right-component" style="top:14%" [video]="currentVideo" [bookmarked]="currentVideoBookmark" (bookVideo)="onBookVideo($event)"></videoView>
        <History class="left-component" [history]="history" (selectedVideo)="onSelectedVideo($event)"></History>
        <Bookmarks class="left-component" style="left:25%" [bookmarks]="bookmarks" (selectedVideo)="onSelectedVideo($event)"></Bookmarks>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->