<mat-expansion-panel (opened)="isBookmarkOpen = true" (closed)="isBookmarkOpen = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3>Bookmarks</h3>
        </mat-panel-title>
        <mat-panel-description>{{isBookmarkOpen ? 'Close' : 'Open'}} bookmarks</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let bookmark of bookmarks" (click)="onLineClick(bookmark)">
            <mat-icon mat-list-icon>bookmark</mat-icon>
            <h4 mat-line>{{bookmark.id}}</h4>
            <mat-divider [inset]="true"></mat-divider>
        </mat-list-option>
    </mat-selection-list>

</mat-expansion-panel>