<mat-card>
    <mat-card-title>History</mat-card-title>
    <mat-card-content>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let vid of history" (click)="onLineClick(vid)">
                <mat-icon mat-list-icon>play_arrow</mat-icon>
                <h4 mat-line>{{vid.id}}</h4>
                <mat-divider [inset]="true"></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
</mat-card>