/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add application styles & imports to this file! */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
  